

body {	
	background-attachment: fixed;
	padding: 0em;
	margin: 0em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
}

table {
	border-collapse:collapse;
}

th {
	border-bottom:1px solid black
}

td {
	padding:2px;
	border-bottom:1px solid black;
}

.leftBorderBlack{
	border-left: 1px solid black;
}

